<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Netgen\EnhancedSelectionBundle\Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>

    <source>
        <include>
            <directory suffix=".php">bundle</directory>
        </include>
        <exclude>
            <directory>bundle/DependencyInjection</directory>
            <directory>bundle/Resources</directory>
            <directory>vendor</directory>
            <file>bundle/Core/Search/Legacy/Content/Common/Gateway/CriterionHandler/EnhancedSelection.php</file>
            <file>bundle/Core/FieldType/EnhancedSelection/SearchField.php</file>
            <file>bundle/NetgenEnhancedSelectionBundle.php</file>
        </exclude>
    </source>
</phpunit>
